.formulars {

    h3 {
        color: $white;
    }
    input{
        border: 1px solid $pink;
        background-color: transparent;
        color: $white;
        &:focus{
            border: 1px solid $pink;
            background-color:rgba(255,255,255,0.2);
            color: $white;
        }
    }
    textarea{
        border: 1px solid $pink;
        background-color: transparent;
        &:focus{
            border: 1px solid $pink;
            background-color: $grey;
            color: $white;
        }
    }
    button{
        color: $black;
        background-color: $pink;
    }
    label{
        color: $pink;
    }
    table {
        thead {
            th {
                color: $pink;
            }
        }
        td{
            color: $white;
        }
        a{
            color: $pink;
        }
    }
}
