#nav{
    background-color: $white;
    .logo{
        width: 5vw;
    }
}

@media screen and (max-width: 400px) {
    #nav{
        background-color: $white;
        .logo{
            width: 15vw;
        }
    }
}

