/* COLORS DEFINITION */
$white: #ffffff;
$grey: #202020FF;
$blue: #5a72cd;
$iceblue: #8595FF;
$black: #000000;
$pink: #b3baff;

.green{
    color: #99d98c !important;
}
.red{
    color: #ff6961 !important;

}
.pink{
    color: $pink !important;
}

/* FONT IMPORT */
@font-face {
    font-family: "bold";
    src: url("../fonts/Satoshi-Bold.ttf");
}
@font-face {
    font-family: "medium";
    src: url("../fonts/Satoshi-Medium.ttf");
}
@font-face {
    font-family: "regular";
    src: url("../fonts/Satoshi-Regular.ttf");
}

/* ANIMATIONS */
@keyframes alerts {
    0% {
        opacity: 1;
        visibility: visible;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
