/* COLORS DEFINITION */
$white: #ffffff;
$blue: #4b5fa8;
$iceblue: #8595FF;

/* FONT IMPORT */
@font-face {
    font-family: "bold";
    src: url("../fonts/Satoshi-Bold.ttf");
}
@font-face {
    font-family: "medium";
    src: url("../fonts/Satoshi-Medium.ttf");
}
@font-face {
    font-family: "regular";
    src: url("../fonts/Satoshi-Regular.ttf");
}

/* ANIMATIONS */
@keyframes alerts {
    0% {
        opacity: 1;
        visibility: visible;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
