@charset "UTF-8";
/* COLORS DEFINITION */
/* FONT IMPORT */
@font-face {
  font-family: "bold";
  src: url("../fonts/Satoshi-Bold.ttf");
}
@font-face {
  font-family: "medium";
  src: url("../fonts/Satoshi-Medium.ttf");
}
@font-face {
  font-family: "regular";
  src: url("../fonts/Satoshi-Regular.ttf");
}
/* ANIMATIONS */
@keyframes alerts {
  0% {
    opacity: 1;
    visibility: visible;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
#home {
  min-height: 100vh;
  background-color: #ffffff;
}
#home a {
  text-decoration: none;
}
#home .nav-tabs .nav-link {
  color: #5a72cd;
}
#home .nav-tabs .not-home {
  width: 25%;
}
#home .nav-tabs .home {
  width: 50%;
}
#home .header h1, #home .header h5 {
  color: #5a72cd;
}
#home .spareMoney .title {
  color: #5a72cd;
}
#home .spareMoney .card {
  background-color: transparent;
  border: 1px solid #5a72cd;
  color: #5a72cd;
}
#home .spareMoney .active_card {
  background: rgb(204, 224, 244);
  background: linear-gradient(90deg, rgb(97, 124, 224) 71%, rgb(75, 95, 168) 100%);
  border: 1px solid transparent;
  color: #ffffff;
}
#home .spareMoney .nonBtn {
  border: none;
  background-color: transparent !important;
}
#home #sumBanks {
  background: rgb(204, 224, 244);
  background: linear-gradient(90deg, rgb(97, 124, 224) 71%, rgb(75, 95, 168) 100%);
}
#home #sumBanks h5, #home #sumBanks h2 {
  color: #ffffff;
}
#home #sumBanks .card {
  border: #ffffff 1px solid;
  height: 15vh;
}
#home #sumBanks .accordion-body {
  background-color: #5a72cd;
}
#home #sumBanks .accordion-button {
  background-color: #5a72cd;
  color: #5a72cd;
}
#home .payment h5 {
  color: #5a72cd;
}
#home .payment input, #home .payment textarea {
  font-size: 1.2em;
  border: 1px solid #5a72cd;
  color: #5a72cd;
  font-family: medium;
}
#home .payment input::placeholder, #home .payment textarea::placeholder {
  color: #5a72cd;
  font-family: regular;
}
#home .payment .btn {
  background-color: #5a72cd;
  color: #ffffff;
  border: 1px solid #5a72cd;
  font-size: 1.2em;
  transition: 0.4s;
}
#home .payment .btn:hover {
  background-color: #5a72cd;
  color: #ffffff;
}
#home .payment .lastPayment {
  border: 1px solid #5a72cd;
  color: #5a72cd;
}
#home .payment .lastPayment h4 {
  font-family: medium;
}
#home .payment .lastPayment h6 {
  font-family: regular;
}
#home .formulars h3 {
  color: #5a72cd;
}
#home .formulars table thead th {
  color: #5a72cd;
}

@media screen and (max-width: 400px) {
  #home .nav-tabs .not-home {
    width: 50%;
  }
  #home .nav-tabs .home {
    width: 100%;
  }
  #home .formulars h3 {
    color: #5a72cd;
  }
  #home .formulars table thead th {
    color: #5a72cd;
  }
  #home .formulars table thead td {
    padding: 0px !important;
  }
}
#nav {
  background-color: #ffffff;
}
#nav .logo {
  width: 5vw;
}

@media screen and (max-width: 400px) {
  #nav {
    background-color: #ffffff;
  }
  #nav .logo {
    width: 15vw;
  }
}
#login {
  background-color: #ffffff;
  background-size: cover;
  height: 100vh;
}
#login .logo {
  width: 15vw;
}
#login .con-window .row .col-12 {
  height: 100vh;
}
#login .con-window .row .col-12 .window label {
  color: #5a72cd;
  font-size: 1.2em;
  font-family: medium;
}
#login .con-window .row .col-12 .window input {
  border: 1px solid #5a72cd;
}

@media screen and (max-width: 400px) {
  #login {
    background-color: #ffffff;
    background-size: cover;
    height: 100vh;
  }
  #login .logo {
    width: 80vw;
  }
  #login .con-window .row .col-12 {
    height: 100vh;
  }
  #login .con-window .row .col-12 .window {
    width: 75%;
  }
  #login .con-window .row .col-12 .window label {
    color: #5a72cd;
    font-size: 1.2em;
    font-family: medium;
  }
  #login .con-window .row .col-12 .window input {
    border: 1px solid #5a72cd;
  }
}
.header h1, .header h5 {
  color: #5a72cd;
}

.spareMoney .title {
  color: #5a72cd;
}
.spareMoney .card {
  background-color: transparent;
  border: 1px solid #5a72cd;
  color: #5a72cd;
}
.spareMoney .active_card {
  background: rgb(204, 224, 244);
  background: linear-gradient(90deg, rgb(97, 124, 224) 71%, rgb(75, 95, 168) 100%);
  border: 1px solid transparent;
  color: #ffffff;
}
.spareMoney .nonBtn {
  border: none;
  background-color: transparent !important;
}

#sumBanks {
  background: rgb(204, 224, 244);
  background: linear-gradient(90deg, rgb(97, 124, 224) 71%, rgb(75, 95, 168) 100%);
}
#sumBanks h5, #sumBanks h2 {
  color: #ffffff;
}
#sumBanks .card {
  border: #ffffff 1px solid;
  height: 15vh;
}
#sumBanks .accordion-body {
  background-color: #5a72cd;
}
#sumBanks .accordion-button {
  background-color: #5a72cd;
  color: #5a72cd;
}

.chart canvas {
  width: 25% !important;
  height: 100% !important;
}

@media screen and (max-width: 400px) {
  .chart canvas {
    width: 100% !important;
    height: 100% !important;
  }
}
* {
  font-family: regular;
}

.number {
  font-family: bold;
}

.alerts {
  animation: alerts 5s;
  opacity: 0;
}

.logo-login {
  animation: alerts 3s;
  visibility: hidden;
}

.swipe-container {
  overflow: hidden;
}

.swipe-item {
  position: relative;
  transition: transform 0.3s ease;
}

.card-content {
  padding-right: 0;
  overflow: hidden;
}

.delete-button {
  position: absolute;
  right: -50px;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  background-color: #5a72cd;
  transition: right 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

.swipe-item.swiped .delete-button {
  right: 0;
  opacity: 1;
}

.swipe-item.swiped .card-content {
  padding-right: 50px; /* Vytvoríme miesto pre tlačidlo pri swipe */
}

/*# sourceMappingURL=app.css.map */
