/* COLORS DEFINITION */
.green {
  color: #99d98c !important;
}

.red {
  color: #ff6961 !important;
}

.pink {
  color: #b3baff !important;
}

/* FONT IMPORT */
@font-face {
  font-family: "bold";
  src: url("../fonts/Satoshi-Bold.ttf");
}
@font-face {
  font-family: "medium";
  src: url("../fonts/Satoshi-Medium.ttf");
}
@font-face {
  font-family: "regular";
  src: url("../fonts/Satoshi-Regular.ttf");
}
/* ANIMATIONS */
@keyframes alerts {
  0% {
    opacity: 1;
    visibility: visible;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.formulars h3 {
  color: #ffffff;
}
.formulars input {
  border: 1px solid #b3baff;
  background-color: transparent;
  color: #ffffff;
}
.formulars input:focus {
  border: 1px solid #b3baff;
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}
.formulars textarea {
  border: 1px solid #b3baff;
  background-color: transparent;
}
.formulars textarea:focus {
  border: 1px solid #b3baff;
  background-color: #202020;
  color: #ffffff;
}
.formulars button {
  color: #000000;
  background-color: #b3baff;
}
.formulars label {
  color: #b3baff;
}
.formulars table thead th {
  color: #b3baff;
}
.formulars table td {
  color: #ffffff;
}
.formulars table a {
  color: #b3baff;
}

#nav .logo {
  width: 5vw;
}
#nav .navbar-toggler {
  border: 2px solid #000000;
}
#nav .navbar-toggler:focus {
  border: 2px solid #000000;
  box-shadow: none;
}
#nav .navbar-nav ul {
  flex-wrap: wrap-reverse;
}
#nav .navbar-nav .active {
  color: #ffffff;
  border-bottom: 1px solid #b3baff;
}
#nav .navbar-nav li a {
  color: #ffffff;
}

@media screen and (max-width: 500px) {
  #nav .logo {
    width: 10vw;
  }
}
.paymentsShow .item {
  border-radius: 0.8em;
  background-color: rgba(255, 255, 255, 0.1);
}
.paymentsShow .item p {
  color: white;
  margin: 0px;
}
.paymentsShow .item h6, .paymentsShow .item h5 {
  color: white;
}
.paymentsShow .item .delete-button {
  border-radius: 0.8em;
  background-color: #b3baff;
}

.expensesShow {
  background-color: transparent;
}
.expensesShow button {
  border: none;
  background-color: transparent;
}
.expensesShow button .item {
  border-radius: 0.8em;
  border: 1px solid #ffffff;
}
.expensesShow button h5 {
  font-size: 1.2em !important;
  color: #b3baff;
}
.expensesShow button h3, .expensesShow button h6 {
  color: #ffffff;
}
.expensesShow button h3 small, .expensesShow button h6 small {
  color: #b3baff;
}
.expensesShow button h6 {
  font-size: 0.8em;
}
.expensesShow .background-special .item {
  border-radius: 0.8em;
  border: 1px solid #b3baff;
}

.plannedPaymentsShow .title {
  color: #b3baff;
}
.plannedPaymentsShow .col-12 {
  border: 1px solid #b3baff;
  border-radius: 0.8em;
}
.plannedPaymentsShow .col-12 svg {
  height: 30px;
}
.plannedPaymentsShow .col-12 p {
  color: #ffffff;
}
.plannedPaymentsShow .col-12 .delete-button {
  border-radius: 0.8em;
  background-color: #b3baff;
}
.plannedPaymentsShow .col-12 form {
  border-radius: 0.8em;
  background-color: #b3baff;
}

.spareMoney {
  background: rgb(179, 186, 255);
  background: linear-gradient(360deg, rgb(179, 186, 255) 0%, rgb(77, 92, 179) 15%, rgb(63, 75, 146) 20%, rgb(46, 55, 108) 31%, rgb(26, 31, 62) 59%, rgb(0, 0, 3) 100%);
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spareMoney h1 {
  font-size: 2em;
  color: white;
}
.spareMoney p {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.05);
}

.details .box {
  display: none !important;
}
.details .box.active {
  display: flex !important;
}
.details .box {
  background-color: #000000;
  box-shadow: 3px 3px 5px 1px rgba(179, 186, 255, 0.32);
  -webkit-box-shadow: 3px 3px 5px 1px rgba(179, 186, 255, 0.32);
  -moz-box-shadow: 3px 3px 5px 1px rgba(179, 186, 255, 0.32);
  width: 80vw;
  height: 10vh;
  color: #ffffff;
  border-radius: 2em;
  margin-top: -55px;
}
.details .box .icon {
  height: 40px;
  width: 40px;
}

.controls .text-center {
  width: 33.3%;
}
.controls #prijat .modal-header, .controls #odoslat .modal-header, .controls #plannedPayment .modal-header {
  background-color: #b3baff;
}
.controls #prijat .modal-header h5, .controls #odoslat .modal-header h5, .controls #plannedPayment .modal-header h5 {
  color: #000000;
}
.controls #prijat .modal-content, .controls #odoslat .modal-content, .controls #plannedPayment .modal-content {
  height: 100vh;
  color: white;
  background-color: #000000 !important;
  border-bottom: 1px solid #b3baff;
}
.controls #prijat .modal-content button, .controls #odoslat .modal-content button, .controls #plannedPayment .modal-content button {
  color: #000000;
  background-color: #b3baff;
  border: none;
}
.controls #prijat .modal-content input, .controls #odoslat .modal-content input, .controls #plannedPayment .modal-content input {
  font-size: 1.3em;
  border: none;
  color: #ffffff;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid #b3baff;
}
.controls #prijat .modal-content .form-check-input, .controls #odoslat .modal-content .form-check-input, .controls #plannedPayment .modal-content .form-check-input {
  border: 1px solid #b3baff;
  border-radius: 0.2em;
}
.controls #prijat .modal-content .form-control:focus, .controls #odoslat .modal-content .form-control:focus, .controls #plannedPayment .modal-content .form-control:focus {
  box-shadow: none;
  border-bottom: 1px solid #b3baff;
}
.controls #bank .modal-content {
  height: 60vh;
  color: white;
  background-color: #000000 !important;
}
.controls #bank .modal-content button {
  color: #000000;
  background-color: #b3baff;
  border: none;
}
.controls #bank .modal-content a {
  border: 1px solid #b3baff;
  border-radius: 0.8em;
  height: 12vh;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.controls #bank .modal-content a h6, .controls #bank .modal-content a h4 {
  color: #ffffff;
  margin: 0px;
}

#login {
  background-color: #ffffff;
  background-size: cover;
  height: 100vh;
}
#login .logo {
  width: 15vw;
}
#login .con-window .row .col-12 {
  height: 100vh;
}
#login .con-window .row .col-12 .window label {
  color: #5a72cd;
  font-size: 1.2em;
  font-family: medium;
}
#login .con-window .row .col-12 .window input {
  border: 1px solid #5a72cd;
}

@media screen and (max-width: 400px) {
  #login {
    background-color: #ffffff;
    background-size: cover;
    height: 100vh;
  }
  #login .logo {
    width: 80vw;
  }
  #login .con-window .row .col-12 {
    height: 100vh;
  }
  #login .con-window .row .col-12 .window {
    width: 75%;
  }
  #login .con-window .row .col-12 .window label {
    color: #5a72cd;
    font-size: 1.2em;
    font-family: medium;
  }
  #login .con-window .row .col-12 .window input {
    border: 1px solid #5a72cd;
  }
}
body {
  overflow-x: hidden;
  width: 100vw;
  background-color: #000000 !important;
}

.row {
  --bs-gutter-x: 0rem !important;
}

* {
  font-family: regular;
}

.number {
  font-family: bold;
}

.alerts {
  animation: alerts 5s;
  opacity: 0;
}

.logo-login {
  animation: alerts 3s;
  visibility: hidden;
}

.nonBtn {
  background-color: transparent;
  border: none;
}

.swipe-container {
  overflow: hidden;
}

.swipe-item {
  position: relative;
  transition: transform 0.3s ease;
}

.card-content {
  padding-right: 0;
  overflow: hidden;
}

.delete-button {
  position: absolute;
  right: -50px;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  background-color: #5a72cd;
  transition: right 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

.swipe-item.swiped .delete-button {
  right: 0;
  opacity: 1;
}

.swipe-item.swiped .card-content {
  padding-right: 50px;
}

/*# sourceMappingURL=app.css.map */
