#superadmin{
    background-color: #edeff0;
    .content{
        padding-top: 5vh;
        padding-left: 5vh;
        padding-right: 5vh;
        .show{
            .active{
                background-color: gold;
            }
        }
    }

}
